<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.dismiss()">&times;</button>
    <h4 class="modal-title">Оценка тренинга</h4>
</div>
<div class="modal-body">
    <h4>Оценка (от 1 до 10)</h4>
    <span uib-rating ng-model="$ctrl.rating" max="10"></span>
    <span class="label" ng-class="{'label-warning': $ctrl.rating<3, 'label-info': $ctrl.rating>=3 && $ctrl.rating<7, 'label-success': $ctrl.rating>=7}">{{ $ctrl.rating }}</span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$ctrl.rateTraining()">Сохранить</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.dismiss()">Отмена</button>
</div>