<div class="alert alert-danger" ng-show="$ctrl.errorMessage">
    {{ $ctrl.errorMessage }}
</div>
<div class="alert alert-info" ng-show="$ctrl.requestList.length == 0">
    Заявки отсутствуют
</div>

<div ng-if="$ctrl.totalItems > $ctrl.itemsPerPage">
    <tp-pagination current-page="$ctrl.currentPage"
                   items-per-page="$ctrl.itemsPerPage"
                   total-items="$ctrl.totalItems"
                   on-page-changed="$ctrl.pageChanged(currentPage)"
    ></tp-pagination>
</div>

<div class="clearfix">
    <div class="well clearfix" ng-repeat="request in $ctrl.requestList">
        <h3>Заявка № {{ request.id }}</h3>
        <p>Пользователь: {{ request.user.firstName }} {{ request.user.lastName }}</p>
        <p>Тренинг: {{ request.training.name }}</p>
        <p>Статус: {{ request.status }}</p>
        <p ng-if="request.rating">Рейтинг: {{ request.rating }}</p>
        <div class="buttons-block">
            <a class="btn btn-sm btn-primary" ng-if="$ctrl.isAdmin()" ng-click="$ctrl.approveRequest(request.id)">Одобрить заявку</a>
        </div>
    </div>
</div>

<div ng-if="$ctrl.totalItems > $ctrl.itemsPerPage">
    <tp-pagination current-page="$ctrl.currentPage"
                   items-per-page="$ctrl.itemsPerPage"
                   total-items="$ctrl.totalItems"
                   on-page-changed="$ctrl.pageChanged(currentPage)"
    ></tp-pagination>
</div>