<div class="clearfix">
    <div class="buttons-block">
        <a class="btn btn-success btn-md" ui-sref="createTrainingType">Создать категорию</a>
    </div>
</div>

<div class="alert alert-danger" ng-show="$ctrl.errorMessage">
    {{ $ctrl.errorMessage }}
</div>
<div class="alert alert-info" ng-show="$ctrl.types.length == 0">
    Категории отсутствуют
</div>

<div ng-if="$ctrl.totalItems > $ctrl.itemsPerPage">
    <tp-pagination current-page="$ctrl.currentPage"
                   items-per-page="$ctrl.itemsPerPage"
                   total-items="$ctrl.totalItems"
                   on-page-changed="$ctrl.pageChanged(currentPage)"
    ></tp-pagination>
</div>

<div class="clearfix">
    <div class="panel panel-default clearfix" ng-repeat="type in $ctrl.types">
        <div class="panel-body">
            <h4>{{ type.name }}</h4>
        </div>
        <div class="panel-footer clearfix">
            <div class="buttons-block">
                <a class="btn btn-sm btn-success" ui-sref="updateTrainingType({ trainingTypeId : type.id })">Изменить категорию</a>
                <a class="btn btn-sm btn-default">Удалить категорию</a>
            </div>
        </div>
    </div>
</div>

<div ng-if="$ctrl.totalItems > $ctrl.itemsPerPage">
    <tp-pagination current-page="$ctrl.currentPage"
                   items-per-page="$ctrl.itemsPerPage"
                   total-items="$ctrl.totalItems"
                   on-page-changed="$ctrl.pageChanged(currentPage)"
    ></tp-pagination>
</div>