<div class="panel panel-default clearfix">
    <div class="alert alert-danger" ng-show="$ctrl.errorMessage">
        {{ $ctrl.errorMessage }}
    </div>
    <div class="panel-heading">
        <h3>{{ $ctrl.training.name }}</h3>
        <p><span class="tag" ng-repeat="type in $ctrl.training.types">{{ type.name }}</span></p>
    </div>
    <div class="panel-body">
        <p>Тренер: {{ $ctrl.training.trainer }}</p>
        <p>Локация: {{ $ctrl.training.location }}</p>
        <p>Старт: {{ $ctrl.training.startDate | date:'fullDate' }}</p>
        <p>Окончание: {{ $ctrl.training.endDate | date:'fullDate' }}</p>
        <p ng-if="$ctrl.trainingRequest && $ctrl.trainingRequest.rating">Рейтинг: {{ $ctrl.trainingRequest.rating }}</p>
        <p>{{ $ctrl.training.description }}</p>
    </div>
    <div class="panel-footer clearfix" ng-if="$ctrl.isAdmin() || ($ctrl.trainingRequest && !$ctrl.trainingRequest.rating)">
        <div class="buttons-block">
            <a class="btn btn-success btn-md" ng-if="$ctrl.isAdmin()" ui-sref="updateTraining({ trainingId : $ctrl.training.id })">Редактировать</a>
            <a class="btn btn-default btn-md" ng-if="$ctrl.isAdmin()" ng-click="$ctrl.openDeleteTrainingModal($ctrl.training.id)">Удалить</a>
            <a class="btn btn-default btn-md" ng-if="$ctrl.isAdmin()" ui-sref="trainingStats({ trainingId : $ctrl.training.id })">Просмотр Статистики</a>
            <a class="btn btn-success btn-md" ng-if="$ctrl.trainingRequest && !$ctrl.trainingRequest.rating" ng-click="$ctrl.rateTraining()">Оценить</a>
        </div>
    </div>
</div>