<div class="clearfix">
    <div class="buttons-block">
        <button ng-if="isAdmin()" class="btn btn-primary btn-md">Создать тренинг</button>
    </div>
</div>

<div class="jumbotron">
    <h3>Фильтрация</h3>
    <form>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="name">Название:</label>
                <input ng-model="$ctrl.searchForm.name" type="text" id="name" class="form-control">
            </div>
            <div class="form-group col-sm-6 row">
                <div class="col-xs-12">
                    <label>Дата проведения</label>
                </div>
                <div class="col-xs-6">
                    <label>С:</label>
                    <p class="input-group">
                        <input type="text"
                               class="form-control"
                               uib-datepicker-popup
                               ng-model="$ctrl.searchForm.minStartDate"
                               close-text="Закрыть"
                               is-open="$ctrl.isShowMinDatePicker"
                        />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="$ctrl.showMinDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-xs-6">
                    <label>До:</label>
                    <p class="input-group">
                        <input type="text"
                               class="form-control"
                               uib-datepicker-popup
                               ng-model="$ctrl.searchForm.maxStartDate"
                               close-text="Закрыть"
                               is-open="$ctrl.isShowMaxDatePicker"
                        />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="$ctrl.showMaxDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label for="trainer">Тренер</label>
                <input type="text"
                       class="form-control"
                       id="trainer"
                       name="trainer"
                       ng-model="$ctrl.searchForm.trainer"
                       uib-typeahead="trainer for trainer in $ctrl.trainers | filter:$viewValue | limitTo:8"
                       autocomplete="off">
            </div>
            <div class="form-group col-sm-6">
                <label for="location">Локация</label>
                <input type="text"
                       class="form-control"
                       id="location"
                       name="location"
                       ng-model="$ctrl.searchForm.location"
                       uib-typeahead="location for location in $ctrl.locations | filter:$viewValue | limitTo:8"
                       autocomplete="off">
            </div>
            <div class="form-group col-sm-6">
                <label for="types">Категории:</label>
                <input type="text"
                       class="form-control"
                       id="types"
                       name="types"
                       ng-model="$ctrl.typesInput"
                       uib-typeahead="type.name for type in $ctrl.types | filter:$viewValue | limitTo:8"
                       typeahead-on-select="$ctrl.selectType($item, $model, $label, $event)"
                       autocomplete="off">
                <p><span class="tag" ng-repeat="type in $ctrl.searchForm.typesObj">{{ type.name }}<span class="glyphicon glyphicon-remove" ng-click="$ctrl.removeType(type)"></span></span></p>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" ng-click="$ctrl.applySearch()" class="btn btn-default">Поиск</button>
        </div>
    </form>
</div>

<div class="alert alert-danger" ng-show="$ctrl.errorMessage">
    {{ $ctrl.errorMessage }}
</div>
<div class="alert alert-info" ng-show="$ctrl.trainingList.length == 0">
    Тренинги отсутствуют
</div>

<div ng-if="$ctrl.totalItems > $ctrl.itemsPerPage">
    <tp-pagination current-page="$ctrl.currentPage"
                   items-per-page="$ctrl.itemsPerPage"
                   total-items="$ctrl.totalItems"
                   on-page-changed="$ctrl.pageChanged(currentPage)"
    ></tp-pagination>
</div>

<div class="clearfix">
    <div class="well clearfix" ng-repeat="training in $ctrl.trainingList">
        <h3><a ui-sref="training({ trainingId : training.id, prevState : $ctrl.getStateInfo() })">{{ training.name }}</a></h3>
        <p><span class="tag" ng-repeat="type in product.types">{{ type.name }}</span></p>
        <p>Тренер: {{ training.trainer }}</p>
        <p>Локация: {{ training.location }}</p>
        <p>Старт: {{ training.startDate | date:'fullDate' }}</p>
        <p>Окончание: {{ training.endDate | date:'fullDate' }}</p>
        <p>{{ training.description }}</p>
        <div class="buttons-block">
            <a class="btn btn-sm btn-primary" ng-if="$ctrl.isLogged()">Подать заявку</a>
        </div>
    </div>
</div>

<div ng-if="$ctrl.totalItems > $ctrl.itemsPerPage">
    <tp-pagination current-page="$ctrl.currentPage"
                   items-per-page="$ctrl.itemsPerPage"
                   total-items="$ctrl.totalItems"
                   on-page-changed="$ctrl.pageChanged(currentPage)"
    ></tp-pagination>
</div>